@page "/user/edit-password"
@inherits _UserLayout

<SimpleForm Model="@changePassword" DoAction="Action" Mode="@ITResume.Client.Enums.EditMode.Edit.ToString()">
    <div class="form-group">
        <DisplayName For="(() => changePassword.OldPassword)" />
        <SfTextBox @bind-Value="changePassword.OldPassword" Placeholder="OldPassword" />
        <ValidationMessage For="@(() => changePassword.OldPassword)" />
    </div>
    <br />
    <div class="form-group">
        <DisplayName For="(() => changePassword.NewPassword)" />
        <SfTextBox @bind-Value="changePassword.NewPassword" Placeholder="NewPassword" />
        <ValidationMessage For="@(() => changePassword.NewPassword)" />
    </div>
    <br />
    <div class="form-group">
        <DisplayName For="(() => changePassword.ConfirmNewPassword)" />
        <SfTextBox @bind-Value="changePassword.ConfirmNewPassword" Placeholder="ConfirmNewPassword" />
        <ValidationMessage For="@(() => changePassword.ConfirmNewPassword)" />
    </div>
    <br />
</SimpleForm>

@code {
    [Inject]
    public NavigationManager NavManager { get; set; } = null!;

    ChangePassword changePassword = new();

    async Task Action()
    {
        await UserService.ChangeUserPasswordAsync(changePassword!);
        NavManager.NavigateTo("user/details");
    }
}
